*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", "Sans serif";
    margin: 0;
}
header{
    display: flex;
    width: 100%;
    justify-content:space-between
}
.logo{
    
    margin-top: 25px;
    margin-left: 20px;

    height: 54px;
    width: 100px;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 100px;
    margin-right: 100px;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li{
    margin: 25px;
}

.linkhebergement a{
    color:#0065FC;
    text-decoration: none;
    border-top: 2px solid;  color: #0065FC;
    padding-top: 35px;
}

.linkactivites a{
    color: black;
    text-decoration: none;
}

.linkSinscrire a{
    color:#0065FC;
    text-decoration: none;
    font-weight: bold;
}

h1{
    margin-top: 30px;
    margin-bottom: 0px;
    
    margin-left: 32px;
    white-space: nowrap;
}

p{ 
    font-size: 15px;
    margin-left: 32px;
    margin-top: 5px;
    margin-bottom: 0px;
    
}
.formrecherche{
    display: flex;
    align-items: center;
    margin-left: 32px;
}

.Barre {
    margin-left: 5px;
    margin-top: 13px;
    padding: 0rem 1rem;
    width: 139px;
    height: 28px;
    font-size: 1.125rem;
    border: 1px solid #F2F2F2;
 
}


.buttonderecherche{
    
    margin-top: 14px;
    width: 79px;
    height: 31px;
    border-radius: 0px 15px 15px 0px;
    background-color:#0065FC;
    border-color:#0065FC ;
}
.buttonderecherche{
    color:white 
    
}
 
.blockMap{

    
    width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
    

.map{
    display: flex;
    align-items: center;
    margin-top: 13px;
    margin-left: 20px;
    padding: 0rem 1rem;
    background-color:#F2F2F2 ;
    height: 31px;
    width: 31px;
    border-radius: 15px 0px 0px 15px;
    
}
.iconemap {

    margin-left: 20px;
    display: flex;
}
h2{
    font-size: 20px;
   
}
.containerfiltre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    font-weight: bold;
    margin-left: 32px;
    margin-top: 50px;
}

.button-filtre{
    height: 40px;
    
    padding-right: 20px;

    border-radius: 15px 15px 15px 15px;
    border: solid 2px #F2F2F2;
    background-color: white;

    margin-left: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.economique{
    background-color:#DEEBFF ;
    border-radius: 15px 15px 15px 15px;
    height: 100%;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    color: blue;
}
.familial{
    background-color:#DEEBFF ;
    border-radius: 15px 15px 15px 15px;
    height: 100%;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    color: blue;
}
.romantique{
    background-color:#DEEBFF ;
    border-radius: 15px 15px 15px 15px;
    height: 100%;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    color :blue
}
.animaux{
    background-color:#DEEBFF ;
    border-radius: 15px 15px 15px 15px;
    height: 100%;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    color: blue;
}
h3{
    font-size: 15px;
    margin: 0px;
    margin-left: 32px;

}
.information {
    
    margin-top: 26px;
    display: flex;
    align-items: center;
    margin-left: 35px; 
}

.fa-info {
    border: solid 1px #999999;
    border-radius: 100%; 
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    color: #0065FC;

}
.container{
    display: flex;
<<<<<<< HEAD
    width: 100%;
   
}
.hebergement{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    background-color:#F2F2F2;
    border-radius: 15px 15px 15px 15px;
    margin-left: 20px;
    margin-top: 26px;
    
}

.vignettehebergement{
    margin-top: 2%;
=======
    flex-wrap: wrap;
    height: 569px;
    width: 805px; 
    background-color:#F2F2F2;
    margin-top: 26px;
    margin-left: 20px;
    border-radius: 15px 15px 15px 15px;

}
.vignettehebergement{
>>>>>>> main
    margin-left: 18px;
    background-color: white;
    height: 200px; 
    width: 245px;
    border-radius: 15px 15px 15px 15px;
    
}
.container .title{
   
    width: 100%;
    margin-top: 28px;
    margin-left: 20px;
}
.imagehebergement{
 margin-top: 5%;
 margin-left: 5%;
 margin-right: 5%;
 width: 90%;
 border-radius: 15px 15px 0px 0px;
 height: 100px;
} 
.titre-carte{
    margin-left: 5%;
    font-size: 14px;
}  
.sous-titre-carte{
    margin-left: 5%;
    margin-top: 3%;
    font-size: 12px;
    font-weight: normal;
}
.fa-star{
    color:#0065FC ;
    font-size:11px;
    
}
.fa-star-grey{
    color:#F2F2F2;
}
.firststart{
margin-left: 20px;
}
.container2{
    display: flex;
    flex-wrap: wrap;
<<<<<<< HEAD
    margin-top: 26px;
    margin-left: 20px;
    margin-right: 20px;
    height: 600px;
    width: 400px; 
    background-color:#F2F2F2;
=======
    margin-top: 10px;
    height: 569px;
    width: 569px; 
    background-color:#F2F2F2;
    margin-left: 900px;
>>>>>>> main
    border-radius: 15px 15px 15px 15px;
}
.montitre{
   font-size: 100%;
   margin-left: 20px;
   margin-top: 28px;
}
.fa-chart-line{
font-size: 20px;
margin-left: 160px;
<<<<<<< HEAD
margin-top:28px;
}
.vignettepopulaire{

margin-top: 10%;
margin-left: 20px;
background-color:white;
height: 130px; 
width: 330px;
border-radius: 15px 15px 15px 15px;
}
.imagepopulaire{

margin: 5px;
height: 115px; 
width: 130px;
border-radius: 15px 0px 0px 15px;
}
.titre-populaire{
margin-bottom: 5%;
margin-left: 30%;
font-size: 17px;
}  
=======
margin-top:28px ;
}
.vignettepopulaire{
margin-bottom: 50%;
margin-left: 20px;
background-color: white;
height: 150px; 
width: 320px;
border-radius: 15px 15px 15px 15px;
}
.imagepopulaire{
margin-top: 5%;
margin-left: 8px;
height: 150px; 
width: 290px;
border-radius: 15px 15px 15px 15px;
}
>>>>>>> main
