*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", "Sans serif";
    margin: 0;
}
header{
    display: flex;
    width: 100%;
    justify-content:space-between
}
.logo{
    
    margin-top: 25px;
    margin-left: 20px;

    height: 54px;
    width: 100px;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 100px;
    margin-right: 100px;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li{
    margin: 25px;
}

.linkhebergement a{
    color:#0065FC;
    text-decoration: none;
    border-top: 2px solid;  color: #0065FC;
    padding-top: 35px;
}

.linkactivites a{
    color: black;
    text-decoration: none;
}

.linkSinscrire a{
    color:#0065FC;
    text-decoration: none;
    font-weight: bold;
}

h1{
    margin-top: 30px;
    margin-bottom: 0px;
    
    margin-left: 32px;
    white-space: nowrap;
}

p{ 
    font-size: 15px;
    margin-left: 32px;
    margin-top: 5px;
    margin-bottom: 0px;
    
}
.formrecherche{
    display: flex;
    align-items: center;
    margin-left: 32px;
}

.Barre {
    margin-left: 5px;
    margin-top: 13px;
    padding: 0rem 1rem;
    width: 139px;
    height: 28px;
    font-size: 1.125rem;
    border: 1px solid #F2F2F2;
    
}


.buttonderecherche{
    
    margin-top: 14px;
    width: 79px;
    height: 31px;
    border-radius: 0px 15px 15px 0px;
    background-color:#0065FC;
    border-color:#0065FC ;
}
.buttonderecherche{
    color:white 
    
}
.buttonderecherche{
cursor: pointer;
float: left;
}
 
.blockMap{

    
    width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
    

.map{
    display: flex;
    align-items: center;
    margin-top: 13px;
    margin-left: 20px;
    padding: 0rem 1rem;
    background-color:#F2F2F2 ;
    height: 31px;
    width: 31px;
    border-radius: 15px 0px 0px 15px;
    
}
.iconemap {

    margin-left: 20px;
    display: flex;
}
h2{
    font-size: 20px;
   
}
.containerfiltre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    font-weight: bold;
    margin-left: 32px;
    margin-top: 50px;
}

.button-filtre{
    height: 40px;
    
    padding-right: 20px;

    border-radius: 15px 15px 15px 15px;
    border: solid 2px #F2F2F2;
    background-color: white;

    margin-left: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.button-filtre:hover{
    -webkit-transform: scale(1.05);
}
.button-filtre{
   cursor: pointer;
   float: left;
}

.economique{
    background-color:#DEEBFF ;
    border-radius: 15px 15px 15px 15px;
    height: 100%;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    color: blue;
}
.familial{
    background-color:#DEEBFF ;
    border-radius: 15px 15px 15px 15px;
    height: 100%;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    color: blue;
}
.romantique{
    
    background-color:#DEEBFF ;
    border-radius: 15px 15px 15px 15px;
    height: 100%;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    color :blue
    
}
.animaux{
    background-color:#DEEBFF ;
    border-radius: 15px 15px 15px 15px;
    height: 100%;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    color: blue;
}
h3{
    font-size: 15px;
    margin: 0px;
    margin-left: 32px;

}
.information {
    
    margin-top: 26px;
    display: flex;
    align-items: center;
    margin-left: 35px; 
}

.fa-info {
    border: solid 1px #999999;
    border-radius: 100%; 
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    color: #0065FC;

}
.container{
    display: flex;
    width: 100%;
   
}
.hebergement{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    background-color:#F2F2F2;
    border-radius: 15px 15px 15px 15px;
    margin-left: 20px;
    margin-top: 26px;
    
}

.vignettehebergement{
    margin-top: 2%;
    margin-left: 18px;
    background-color: white;
    height: 200px; 
    width: 245px;
    border-radius: 15px 15px 15px 15px;
    
}
.vignettehebergement:hover {
    -webkit-transform: scale(1.05);
}
.container .title{
   
    width: 100%;
    margin-top: 28px;
    margin-left: 20px;
}
.imagehebergement{
 margin-top: 5%;
 margin-left: 5%;
 margin-right: 5%;
 width: 90%;
 border-radius: 15px 15px 0px 0px;
 height: 114px;
 transition-duration: 0.1s;
 cursor: pointer;
 float: left;
} 
.titre-carte{
    margin-left: 5%;
    font-size: 14px;
    
}  
.sous-titre-carte{
    margin-left: 5%;
    margin-top: 3%;
    font-size: 12px;
    font-weight: normal;
}
.fa-star{
    color:#0065FC ;
    font-size:11px;
    
}
.fa-star-grey{
    color:#F2F2F2;
}
.firststart{
margin-left: 20px;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    margin-top: 26px;
    margin-left: 20px;
    margin-right: 20px;
    height: 627px;
    width: 400px; 
    background-color:#F2F2F2;
    border-radius: 15px 15px 15px 15px;
}
.montitre{
   font-size: 100%;
   margin-left: 20px;
   margin-top: 28px;
}
.fa-chart-line{
font-size: 20px;
margin-left: 160px;
margin-top:28px;
}
.vignettepopulaire{
display: flex;
margin-top: 10%;
margin-left: 20px;
background-color:white;
height: 130px; 
width: 330px;
border-radius: 15px 15px 15px 15px;
}
.vignettepopulaire:hover{
    -webkit-transform: scale(1.05);
}
.imagepopulaire{
margin: 5px;
height: 115px; 
width: 130px;
border-radius: 15px 0px 0px 15px;
transition-duration: 0.1s;
cursor: pointer;
}


.titre-populaire{
width: 130px;
font-size: 14px;
}  
.containertexte{
margin-left: 5%;
margin-top: 5%;
}
.containertexte h2{
margin-left: 10%;
}
.containertexte h3{
margin-left: 10%;
font-size: 12px;
margin-top: 5%;
font-weight: normal;
}
.containertexte .fa-star{
margin-top: 20%;

}
.containertexte .firststar{
 margin-left: 10%;
}

h6{
margin-top: 41px;
margin-left: 20px;
font-size: 20px;
}
.container-activite{
    display: flex;  
}

.vieux-port{
    margin-top: 18px;
    margin-left: 20px;
    height: 387px;
    width: 306px;
    border-radius: 15px 15px 15px 15px; 
    margin-bottom: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}
.vieux-port:hover{
    -webkit-transform: scale(1.05);
}
.activity .image{
    border-radius: 15px 15px 0px 0px; 
    width: 100%;
    height: 87%;
    transition-duration: 0.1s;
    cursor: pointer;
}
.activity .titre{
    position: relative;
    left: 10px;
    top: 10px;
    font-weight: bold;
}
.activity .fort-pomegues{
    margin-top: 18px;
    margin-left: 20px;
    height: 183px;
    width: 301px;
    border-radius: 15px 15px 15px 15px; 
    margin-bottom: 5x;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 
}
.fort-pomegues:hover{
    -webkit-transform: scale(1.05);
}
.activity .iles-frioul{
    margin-top: 18px;
    margin-left: 20px;
    height: 111px;
    width: 301px;
    border-radius: 15px 15px 15px 15px; 
    margin-bottom: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
}
.iles-frioul:hover{
    -webkit-transform: scale(1.05);
}
.activity .parc-calanques{
    margin-top: 18px;
    margin-left: 20px;
    height: 387px;
    width: 306px;
    border-radius: 15px 15px 15px 15px; 
    margin-bottom: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
}
.parc-calanques:hover{
    -webkit-transform: scale(1.05);
}
.activity .notre-dame{
    margin-top: 18px;
    margin-left: 20px;
    height: 137px;
    width: 302px;
    border-radius: 15px 15px 15px 15px; 
    margin-bottom: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
}
.notre-dame:hover{
    -webkit-transform: scale(1.05);
}
.activity .parc-long{
    margin-top: 18px;
    margin-left: 20px;
    height: 175px;
    width: 300px;
    border-radius: 15px 15px 15px 15px; 
    margin-bottom: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
}
.parc-long:hover{
    -webkit-transform: scale(1.05);
}
footer {
    background-color: #f2f2f2;
  }
  
  .blockFooter {
    display: flex;
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  
  .interieurblockFooter {
    width: 40%;
  }
  
  .footerTitre {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 51px;
    margin-left: 20px;
  }
  
  .lignesFooter {
    text-decoration: none;
    color: black;
    display: block;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 25px;
  }